@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 70px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: #464343;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li  {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 14px;
    padding: 20px;
    color: rgb(0, 0, 0);
    display: block;

}

.menu .navbar ul li a:hover {
    color: #ee240e;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #fbf5ff76;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #FFFFFF;
}

.borrar {
    background-color: #ff3c2a;
    border-radius: 50%;
    padding: 5px 10px;
    color: #ffff;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-txt {
    flex-basis: 40%;
}

.header-txt h1 {
    font-size: 45px;
    line-height: 1;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 25px;
    animation: 3s desplazamiento 1;

}

p {
    color: #bebaba;
    font-size: 18px;
    margin-bottom: 25px;
}

 .btn-3  {
    display: inline-block;
    padding: 10px 30px;
    color: blue;
    border: 2px solid blue;
    text-transform: capitalize;
    border-radius: 15px;
}

.btn-2 {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 15px;
}

.texto {
    color: #d1cccc;
}
.btn-3:hover {
    color: #FFFFFF;
    background-color: #0003b1;
}

.header-img {
    flex-basis: 60%;
}

.header-img img {
    position: relative;
    left: 10px;
    top: 50px;
    border-radius: 20px;
}

.oferts {
    padding: 100px 0;
}

h2 {
    font-size: 40px;
    line-height: 1;
    color: #181818;
    margin-bottom: 10px;
}

.oferts-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.img-50 {
    position: absolute;
    left: 100px;
    top: 0px;
    max-width: 300px;
    max-height: 200px;
    animation: 3s Entrada 1;
}



.ofert-1 {
    flex-basis: calc(30% - 30px);
    box-shadow: 0 0 20px rgb(0, 0, 0.2);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}

.ofert-2 {
    flex-basis: calc(30% - 30px);
    box-shadow: 0 0 20px rgb(0, 0, 0.2);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    margin-top: 2rem;
}

.ofert-1 img {
    width: 192px;
    height: 195px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    line-height: 1;
    color: #181818;
    margin-bottom: 10px;
}

.product-txt p {
    margin-bottom: 10px;
}

.precio {
    color: black;
    font-weight: 700;
    margin-bottom: 20px
}

.btn-3 {
    padding: 4px 20px;
}

.logan-1 {
    flex-basis: 40%;
    background: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ),
    url(##);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    border-radius: 10px;
}

.logan-1 h3 {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.logan-1 img {
    position: relative;
    left: 60px;
}

.logan-1 p {
    font-size: 18px;
    text-transform: uppercase;
    color: #f7f7f7;
    margin-bottom: 20px;
}

.promotion {
    padding: 80px 0;
    background-color: #000000;
}

.promotion-content {
    display: flex;
}


.lista-pie{
    position: relative;
    left: -620px;
    top: 10px;
}

.promotion-txt {
    flex-basis: 50%;
}

.promotion-img {
    flex-basis: 50%;
    text-align: center;
}

.product {
    padding: 100px 0;
    text-align: center; 
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.blog {
    padding: 50 px 0 100px 0;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1{
    flex-basis: calc(33.3% - 30px);
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.blog-text {
    padding: 40px;
}

.btn-4 {
    display: inline-block;
    border: 1px solid #181818;
    padding: 8px 25px;
    font-size: 17px;
    text-transform: capitalize;
    color: #181818; 
}

.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;

}

.link h3 {
    font-size: 17px;
    color: #181818;
    margin-bottom: 18px;
}

.link a {
    font-size: 17px;
    color: #181818;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: #ec0d0d;
}

#tex-ani-2{
    animation: 3s desplazamiento-2 1;
}

@keyframes Entrada {
    from {
      transform: scale(0); /* Tamaño inicial del elemento */
    }
    to {
      transform: scale(1); /* Tamaño final del elemento */
    }
  }

  @keyframes desplazamiento {
    from {
      transform: translateX(-505px);
    }
    to {
      transform: translateY(1px);
    }
  }

  @keyframes desplazamiento-2 {
    from {
      transform: translateX(505px); 
    }
    to {
      transform: translateY(1px); 
    }
  }


@media(max-width:991px) {
    .menu {
        padding: 20px;
    }

    .logan-1 img {
        position: relative;
        left: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #cecece;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: #FFFFFF;
    }

    .header {
        min-height: 0vh;
        padding: 100px 30px 50px 30px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }
    /*imagen de inicio*/
    .header-img img{
        position: relative;
        left: 0;
    }

    .menu-imagen {
        width: 40px;
        height: 50px;
    }

    .header-img{
        border-radius: 50%;
    }

     .header-text {
        margin-bottom: 25px;
     }

     #tex-ani {
        animation: 3s Entrada1 1;
     }

     .oferts {
        padding: 30px;
     }

     .oferts-content {
        flex-direction: column;
     }

     .ofert-1 {
        margin-bottom: 30px;
     }



     .logan-1 {
        order: -2;
        margin-bottom: 30px;
     }

     .promotion {
        padding: 30px;
     }

     .product-content {
        flex-direction: column;
        text-align: center;
     }

     .product-txt {
        margin-bottom: 25px;
    }

    .promotion-img img {
        width: 200px;
    }


    .product {
        padding: 30px;
    }

    .product-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }


    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    @keyframes Entrada1 {
        from {
          transform: translateY(-400px);
        }
        to {
          transform: translateY(0);
        }
      }

}
